/******租赁时长********/
.carousel-inner{
	height: 350px;
	width: 600px;
}
#rtl-changzu{
	height: inherit;
	width: inherit;
}
#rtl-duanzu{
	height: inherit;
	width: inherit;
}
#rtl-fenshi{
	height: inherit;
	width: inherit;
}


